/* .panel{
  width: 30%;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #ccc;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 10em;
  border-radius: 10px;
}
.text-center{
  text-align: center;
}
.m-0{
  margin: 0;
}
.form-control{
  width: 70%;
  height: 2em;
  margin: 8px 10px;
  padding: 10px 10px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-size: 14px;
}
input:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  transition: 0.1s ease-in-out;
}
.button-align{
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #1973e8;
  font-size: 15px;
  font-weight: 600;
  background-color: #1973e8;
  color: white;
}
button:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  transition: 0.1s ease-in-out;
}
.text-danger{
  color: rgb(185, 34, 34);
}

/* dashboard.js */
/* table{
  border-collapse: collapse;
  display: table;
  width: 97%;
  margin: 20px;
}
table , th,td{
  border: 1px solid black;
  text-align: center;
}
table th ,td{
  padding: 10px;
}  */